{%extends "./index.html"%} 

{%block titulo%} About {%endblock%}
{%block conteudo%}
{% load static %}
<div style="position: relative">
  <img
    src="{%static 'Animals\tiger1.jpg' %}"
    alt="ups"
    style="width: 100%; height: auto"
  />
  <div
    style="
      position: absolute;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
    "
  >
    <h1
      style="
        color: white;
        font-size: 3.5vw;
        text-shadow: 3px 0px 5px rgb(0, 0, 0);
      "
    >
      Jardim Zoológico ZOO
    </h1>
  </div>
</div>
<div style="margin-left: 20%; margin-right: 20%"></div>
{% endblock %}
