{%extends "./index.html"%} {% block conteudo %} {% load static %}

  <form
  action="{% url 'ZOO_App:alterar_password' %}"
  method="post"
  class="row w-100 mt-3 mb-3 justify-content-center"
>
  {% csrf_token %}
  <div class="col-2">
    <label for="old_password" class="form-label ms-1"
      >Palavra passe antiga:
    </label>
    <input class="form-control" type="password" name="old_password" required />
    <br />
    <label for="new_password" class="form-label ms-1"
      >Palavra passe nova:
    </label>
    <input class="form-control" type="password" name="new_password" required />
    <br />
    <label for="new_password2" class="form-label ms-1"
      >Confirmar palavra passe nova:
    </label>
    <input class="form-control" type="password" name="new_password2" required />
    <input
      type="submit"
      value="Efetuar Alteração"
      class="btn btn-danger mt-3"
    />
    {% if incorrect_password %}
    <div class="alert alert-danger" role="alert">{{incorrect_password}}</div>
    {% endif %}
  </div>
</form>

{% endblock %}
