{%extends "./index.html"%} {% block conteudo %} {% load static %}
<style>
  .like {
    border-width: 0px;
  }
</style>

<div class="container-fluid justify-content-center">
  <p class="text-center fs-3 fw-bolder mt-2">{{noticia.titulo}}</p>
  <div class="row justify-content-center mt-3">
    <div class="col-6">
      <img
        src="{%static noticia.imagem.url %}"
        alt="imagem da noticia '{{noticia.titulo}}'"
        class="d-block mx-auto"
      />
    </div>
    <div class="col-1">
      <a
        href="{% url 'ZOO_App:adicionar_like' noticia.id %}"
        class="like"
        style="color: #000000; text-decoration: none"
      >
        {% if request.user.is_authenticated and like %}
        <i class="bx bxs-heart" style="color: #ff0000"></i>
        {% else %}
        <i class="bx bxs-heart" style="color: #000000"></i>
        {% endif %} {{like_amount}}
      </a>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-6">
      <p>{{noticia.descricao}}</p>
    </div>
  </div>
</div>

{% for item in comments %}
<input type="text" value="{{item.comentario}}" name="comment" />

{% endfor%}

<form action="{% url 'ZOO_App:addComentario' noticia.id %}" method="POST">
  {% csrf_token %}
  <input type="text" value="hey" name="comment" />
  <input type="submit" name="submit" class="btn btn-primary" />
</form>

{% endblock %}
