{%extends "./index.html"%} {% block conteudo %} {% load static %}
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center my-5">
    <div class="col-6">
      <div class="card border-primary">
        <p class="text-center fs-3 fw-bolder mt-2">Login</p>
        <form class="g-3 p-3" action="{% url 'ZOO_App:login' %}" method="post">
          {% csrf_token %}
          <div class="mb-3 mt-2">
            <label for="username" class="form-label">Username</label>
            <input
              class="form-control"
              type="text"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              class="form-control"
              type="password"
              id="password"
              name="password"
              required
            />
          </div>
          <div class="row justify-content-between">
            <div class="col">
              <button class="btn btn-primary mb-3" type="submit">Login</button>
            </div>
            <div class="col">
              <a
                href="{% url 'ZOO_App:registar' %}"
                class="btn btn-secondary"
                style="float: right"
                >Registar</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
