{%extends "./index.html"%} 

{%block titulo%} Product {%endblock%}
{% load static %}

{%block head%}
<link rel="stylesheet" href="{%static 'css\styleProduct.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{%endblock%}

{%block conteudo%}

<h1 class="product-title">Produto</h1>
<div class="product-content overflow-auto">
    <div class="product-image-container" style="width:40%; height:auto; float: left;">
        <img src="{{ produto.imagem.url }}" class="product-item" style="aspect-ratio: 1;" alt="">
    </div>
    <div class="product-info" style="margin-left: 45%; width: 50%;">
        <h3 class="product-name">{{produto.designacao}}</h3>
        <p class="product-description">{{produto.descricao}}</p>

        <br><br><br><br><br><br>
        <h3 class="product-price"> {{produto.preco}} € </h3>
        
        {%if request.user.is_authenticated%}
        <form action="{% url 'ZOO_App:addProductToCart' %}" method="post" class="mt-5">
            <label for="" style="font-size: larger; margin-right: 10px;">Quantidade: </label>
            {% csrf_token %}
            <input type="number" value="1" name="quantidade" class="form-control w-50" required>
            {% if request.user.is_superuser%}

            <a href="{% url 'ZOO_App:deleteProduct' produto.id%}" class="btn btn-danger ms-5">
                <i class="bx bxs-trash"  id="shopping-icon"></i> Remover Produto</a>

            {% endif %}

            <br><br>
            <div class="add-cartdiv">
                <button name="produto_id" id="b-jquery" type="submit" value="{{ produto.id }}" class="add-cart btn btn-success " >
                    <i class="bx bx-shopping-bag"  id="shopping-icon"></i>  Add to cart
                </button>
            </div>
        </form>
        {% else %}
        <div class="add-cartdiv">
            <button name="produto_id" id="b-jquery" onclick="alertLoginRequired()" class="add-cart btn btn-success">
                <i class="bx bx-shopping-bag"  id="shopping-icon"></i> Add to cart
            </button>
        </div>
        {% endif %}
      
    </div>
</div>
<br>
<script>
    function alertLoginRequired() {
        alert("Hello! Login Required!");
    }

    $(document).ready(function(){
        $(".add-cart").hover(
            function(){$(this).filter(':not(:animated)').animate({width:"110%", height:"110%"}, 400);},
            function(){$(this).filter(':not(:animated)').animate({width:"120%", height:"120%"}, 400);}
        );
 


    });
  

</script>

{%endblock%}