{%extends "./index.html"%} 

{%block titulo%} Product {%endblock%}
{% load static %}

{%block head%}

<link rel="stylesheet" href="{%static 'css\stylePurchase.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{%endblock%}

{%block conteudo%}


<div class="cartp">
    <h2 class="cart-titlep" style="text-align: center; margin-bottom: 30px;"> Shopping Cart</h2>
    <div class="cart-contentp" style="    width: 80%; margin-left: 10%; margin-right: 10%;">
        {%if all%}
            {% for key, value in all.items %}
            <div class="cart-boxp" style="margin-top: 30px;">
                <!--<img src="" alt="" class="cart-image">--> 
                    <div class="row">
                        <div class="col" >
                            <img src="{% static key.produto.imagem.url %}" alt="" style=" width: 60%; height: auto; margin-left: 20%; margin-right: 20%;" class="product-cart-imagep">
                        </div>
                        <div class="col">
                            <h2 class="product-cart-pricep">{{key.produto.preco}} €</h2>
                            <a href="{% url 'ZOO_App:takeProductFromCart' key.produto.id%}" class="btn btn-checkout">
                                <i class="bx bxs-minus-circle product-remove"></i>
                            </a> 
                            <h2 class="product-quantityp">{{value.quantidade}}</h2>
                            <input type="number" value={{value.quantidade}} class="product-quantitypbad">
                            <a href="{% url 'ZOO_App:sumProductToCart' key.produto.id%}" class="btn  btn-checkout">
                                <i class="bx bxs-plus-circle product-removep"></i>
                            </a> 
                            <a href="{% url 'ZOO_App:deleteProductFromCart' key.produto.id%}" class="btn btn-secondary btn-checkout">
                                <i class="bx bxs-trash-alt product-removep"></i>
                            </a> 
                        </div>
                    </div>
            </div>
            {% endfor %}
       
        
        <div class="cart-totalp row">
            <h3 class="cart-total-titlep" style=" display:flex; justify-content: right;"> Total: </h3>
            <h3 class="cart-total-pricep"> h</h3>
            <script>
                function sum() {
                    const prices = document.getElementsByClassName("product-cart-pricep");
                    const quantities = document.getElementsByClassName("product-quantityp");
                    let sum=0;
                    let aux="";
                    for (let index = 0; index < prices.length; index++) {
                        aux = prices[index].textContent.substring(0, prices[index].textContent.length-2);
                        sum += parseFloat(aux) * parseFloat(quantities[index].textContent); 
                    }
                    let string = sum.toString();
                    let aux2 = string.split(".")
                    string = aux2[0] + "." + aux2[1].substring(0,2) + " €";
                    return string;
                }
                document.getElementsByClassName("cart-total-pricep")[0].textContent=sum();
            </script>
        </div>
        {% endif %}
    </div>

    <form action="{% url 'ZOO_App:finishPurchase'%}">

        {% if user.utilizador.morada %}

        <label for="html">Morada:</label>
        <input type="text" value="{{user.utilizador.morada}}">

        {% else %}

        <label for="css">Morada</label>
        <input type="text" value="">
        
        {% endif %}  

        <br><br><br>
        {% if user.utilizador.numero_contribuinte %}

        <label for="html">Número de Contribuinte:</label>
        <input type="text" name="input_morada" value="{{user.utilizador.numero_contribuinte}}">

        {% else %}

        <label for="css">Número de Contribuinte</label>
        <input type="text" name="input_morada" value="">
              
        {% endif %}
        
        <br>
        <input type="submit" class="btn btn-primary" value="Finalizar Compra">
    </form>
    <br>

    <a href="{% url 'ZOO_App:emptyCart'%}" class="btn btn-primary btn-checkout">Empty Cart</a>
    <a href="{% url 'ZOO_App:purchase'%}" class="btn btn-primary btn-checkout">Cancelar</a>
    <i class="bx bx-x"></i>
</div>
{%endblock%}
