{%extends "./index.html"%} 

{%block titulo%} Product {%endblock%}
{% load static %}

{%block head%}

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>



{%endblock%}

{%block conteudo%}
<style>
    .cart-content{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .cart-titlep{
        margin-top: 20px;
    }


</style>


<div class="cartp">
    <h2 class="cart-titlep" style="text-align: center; margin-bottom: 30px;"> Shopping Cart</h2>
    <div class="cart-contentp" style="    width: 80%; margin-left: 10%; margin-right: 10%;">
        {%if all%}
            {% for item in all %}
            <div class="cart-boxp" style="margin-top: 30px;">
                <!--<img src="" alt="" class="cart-image">--> 
                    <div class="row">
                        <div class="col" >
                            <img src="{{ item.produto.imagem.url }}" alt="" style=" width: 60%; height: auto; margin-left: 20%; margin-right: 20%;" class="product-cart-imagep">
                        </div>
                        <div class="col">
                            <h2 class="product-cart-pricep mt-4">{{item.produto.preco}} €</h2>
                            <a href="{% url 'ZOO_App:takeProductFromCart' item.produto.id%}" class="btn btn-checkout d-inline-block">
                                <i class="bx bxs-minus-circle product-remove bx-md"></i>
                            </a> 
                            <h3 class="product-quantityp d-inline-block mt-4">Quantidade: {{item.quantidade}}</h3>
                            <a href="{% url 'ZOO_App:sumProductToCart' item.produto.id%}" class="btn  btn-checkout d-inline-block ">
                                <i class="bx bxs-plus-circle product-removep bx-md"></i>
                            </a> 
                            <br>
                            <a href="{% url 'ZOO_App:deleteProductFromCart' item.produto.id%}" class="btn btn-danger btn-checkout mt-4">
                                <i class="bx bxs-trash-alt product-removep"></i>
                            </a> 
                        </div>
                    </div>
            </div>
            {% endfor %}
       
        
        <div class="cart-totalp float-end">
            <h3 class="cart-total-titlep" style=" display:inline-block"> Total: </h3>
            <h3 class="cart-total-pricep" style=" display:inline-block"> </h3>
            <h3 class="cart-total-__" style=" display:inline-block"> €</h3>
            
        </div>
        {% endif %}
    </div>
    <br><br>
    <form action="{% url 'ZOO_App:finishPurchase'%}" class="ms-5 " method="POST">
        
  {% csrf_token %}

        {% if user.utilizador.morada %}

        <label for="address">Morada:</label>
        <input type="text" class="form-control w-25" value="{{user.utilizador.morada}}" readonly>

        {% else %}

        <label for="address">Morada</label>
        <input type="text" class="form-control w-25" value="" readonly>
        
        {% endif %}  
        {% if user.utilizador.numero_contribuinte %}

        <label for="cont" class="mt-5">Número de Contribuinte:</label>
        <input type="number" class="form-control w-25" value="{{user.utilizador.numero_contribuinte}}" readonly>

        {% else %}

        <label for="cont">Número de Contribuinte</label>
        <input type="number" class="form-control w-25"  value="" readonly>
              
        {% endif %}
        
        <br>
        <div class="row mt-3 mb-3 w-100">
            <div class="col-auto">
                <input type="submit" class="btn btn-success   justify-content-end" value="Finalizar Compra">
            </div>
            <div class="col-auto">
                <a href="{% url 'ZOO_App:emptyCart'%}" class="btn btn-danger btn-checkout">
                    Esvaziar Carrinho</a>
            </div>
        </div>
        
        
    </form>
    

    
</div>


<script>
    function sum() {
        const prices = document.getElementsByClassName("product-cart-pricep");
        const quantities = document.getElementsByClassName("product-quantityp");
        let sum=0;
        let aux="";
        for (let index = 0; index < prices.length; index++) {
            aux = prices[index].textContent.substring(0, prices[index].textContent.length-2);
            sum += parseFloat(aux) * parseFloat(quantities[index].textContent.split(": ")[1]); 
        }
        
        let string = sum.toString();
        if(string.includes(".")){
            let aux2 = string.split(".")
            if (aux2[1].length > 2){
              string = aux2[0] + "." + aux2[1].substring(0,2) + " €";
            }else if (aux2[1].length===1)
              string = aux2[0] + "." + aux2[1].substring(0,1) + "0 €";
          }else
            string = string + ".00 €"
                   
          return string;

    }
    document.getElementsByClassName("cart-total-pricep")[0].textContent=sum();
</script>
{%endblock%}
