{%extends "./index.html"%}
{%block conteudo%}
{% load static %}
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center my-5">
        <div class="col-6">
          <div class="card border-success text-bg-dark">
            <p class="text-center fs-3 fw-bolder mt-2">Efetuar Registo</p>
            <form
              class="g-3 p-3"
              action="{% url 'ZOO_App:registar' %}"
              method="post"
            >
              {% csrf_token %}
              <div class="mb-3 mt-2">
                <label for="username" class="form-label">Username</label>
                <input
                  class="form-control"
                  type="text"
                  id="username"
                  name="username"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  class="form-control"
                  type="email"
                  id="email"
                  name="email"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="first_name" class="form-label">Primeiro nome</label>
                <input
                  class="form-control"
                  type="text"
                  id="first_name"
                  name="first_name"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="last_name" class="form-label">Último nome</label>
                <input
                  class="form-control"
                  type="text"
                  id="last_name"
                  name="last_name"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="birth_date" class="form-label"
                  >Data de Nascimento</label
                >
                <input
                  class="form-control"
                  type="date"
                  id="birth_date"
                  name="birth_date"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">Morada</label>
                <input
                  class="form-control"
                  type="text"
                  id="address"
                  name="address"
                />
              </div>
              <div class="mb-3">
                <label for="TIN" class="form-label"
                  >Número de contribuinte</label
                >
                <input class="form-control" type="number" id="TIN" name="TIN" />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  class="form-control"
                  type="password"
                  id="password"
                  name="password"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="password2" class="form-label"
                  >Confirmar Password</label
                >
                <input
                  class="form-control"
                  type="password"
                  id="password2"
                  name="password2"
                  required
                />
              </div>
              {% if error_message_password %}
              <h5 class="text-danger">{{error_message_password}}</h5>
              {% endif %} {% if error_message_empty_fields %}
              <h5 class="text-danger">{{error_message_empty_fields}}</h5>
              {% endif %}
              <button class="btn btn-success mb-3" type="submit">
                Registar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {%endblock%}

