{%extends "./index.html"%} 

{%block titulo%} Shop {%endblock%}
{% load static %}

{%block head%}
<link rel="stylesheet" href="{%static 'css\styleShop.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

{%endblock%}

{%block conteudo%}


<body>
       
        <section class="shop container"> 
            
            <h2 class="section-title">Shop Products</h2>

            <i class="filtericon bx bxs-cat"></i>
            
            <div class="shop-content-w-filter">
                <aside class="filters" style="background-color: azure;">
                    <h3>Filters</h3>
                    {% for produto in product_types %}
                    <input type="checkbox" id="type1" name="type1" value="{{produto}}" checked onchange="checkFilters(this)">
                    <label for="type1" style="font-size: large; margin-top: 10px;"> {{produto}}</label><br>
                    {% endfor %}
                    
                </aside>
                <div class="shop-content">
                    {% for produto in product_list %}
                        <a class="product-box" name="{{produto.categoria}}" href="{% url 'ZOO_App:produto' produto.id%}">
                            <img src="{% static produto.imagem.url %}" alt="" class="product-image">
                            <h2 class="product-title">{{produto.designacao}}</h2>
                            <h4 class="product-price"> {{produto.preco}} € </h4>
                        </a>
                    {% endfor %} 
                </div>
            </div>
        </section>
    </div>
    
    <script>

        function checkFilters(checkboxElem) {
            const products = document.getElementsByClassName("product-box") 
            var display="" 
            if (checkboxElem.checked) {
                display = "block"
            } else {
                display = "none"
            }
            //alert(products.length);
            //alert(display);
            for (let index = 0; index < products.length; index++) {
                //alert("id" + products[index].name)
                //alert("check" + checkboxElem.value)
                if(products[index].name == checkboxElem.value){
                    products[index].style.display=display
                    //alert(products[index] + " " + products[index].style.display)
                } 
            }
        }

        $(document).ready(function(){
            $(".filtericon").click(function(){
                $(".filters").animate({width:'toggle'}); 
            }); 
        });
                
    </script>

    
    {% endblock %}