{%extends "./index.html"%} 

{%block titulo%} Shop {%endblock%}
{% load static %}

{%block head%}
<link rel="stylesheet" href="{%static 'css\styleShop.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{%endblock%}

{%block conteudo%}


<body>
    <div class="nav container">
        <a href="#" class="logo"> Shopping </a>
        <i class="bx bx-shopping-bag" id="cart-icon"></i>
    </div>

    <section class="shop container"> 
        <h2 class="section-title">Shop Products</h2>
        <div class="shop-content">
            
            {% for produto in product_list %}
                <div class="product-box">
                    <img src={{produto.imagem.url}} alt="" class="product-image">
                    <h2 class="product-title">{{produto.designacao}}</h2>
                </div>
            {% endfor %} 
        </div>
    </section>
    {% endblock %}